.env
env
__pycache__
.vscode
.idea
/.idea/
venv/

# Ignore everything in the generated directory
/generated/*

# Don't ignore .gitkeep files in the generated directory
!/generated/.gitkeep
tennis_unit_tests/doc.a
tennis_unit_tests/PinInterface/PinInterface.o
tennis_unit_tests/PinInterface/PinState.o
tennis_unit_tests/PinInterface/PinInterface.o
tennis_unit_tests/PinInterface/PinInterfaceTest.o
tennis_unit_tests/PinInterface/PinInterfaceTest
tennis_unit_tests/Mode1Score/*.o
.gitignore
tennis_unit_tests/TranslateConstant/*.o
tennis_unit_tests/SetWin.o
tennis_unit_tests/GameLedTranslator.o
tennis_unit_tests/*.o
